.App {
  font-family: sans-serif;
  text-align: center;
  background-color: gray;
}

table {
  position: relative;
}

td {
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #333333;
}

.heroTile {
  color: orangered;
  position: absolute;
  font-weight: bold;
  left: 5em;
  top: 3.4em;
}
